<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${titulo}"></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="mt-4">Lista de Libros</h1>

        <!-- Comprobamos si hay libros en la lista -->
        <div th:if="${libros.isEmpty()}">
            <p>No hay libros disponibles.</p>
        </div>

        <!-- Mostramos la tabla solo si hay libros -->
        <div th:if="${not libros.isEmpty()}">
            <table class="table table-striped">
                <thead>
                    <tr>
		            	<th>Identificador del libro</th>
		                <th>Título</th>
		                <th>Autor</th>                
		                <th>Publicado en</th>
		                <th>ISBN</th>
		                <th>Estado</th>
            		</tr>
                </thead>
                <tbody>
                    <!-- Iteramos sobre la lista de libros -->
                    <tr th:each="libro : ${libros}">
		            	<td th:text="${libro.idLibro}">Identificador</td>
		                <td th:text="${libro.titulo}">Título</td>
		                <td th:text="${libro.autor}">Autor</td>
		                <td th:text="${libro.publicadoEn}">Publicado en</td>
		                <td th:text="${libro.ISBN}">ISBN</td>
		                <td th:text="${libro.estado}"></td>
            		</tr>
                </tbody>
            </table>
        </div>

		<a href="/" class="btn btn-primary mt-3">Pagina Principal</a>
        <a href="/nuevoLibro" class="btn btn-primary mt-3">Añadir nuevo libro</a>
        <a href="/ingresarISBNeditar" class="btn btn-primary mt-3">Modificar libro</a>
        <a href="/ingresarISBEliminar" class="btn btn-primary mt-3">Eliminar libro</a>
    </div>
</body>
</html>
