<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Nuevo Libro</title>
</head>
<body>
    <h1>Añadir un Nuevo Libro</h1>

    <form action="#" th:action="@{/guardar_libro}" th:object="${libroSergio}" method="post">
        <label for="autor libro">Autor del libro:</label>
        <input type="text" id="autor" th:field="*{autor}" /><br/>

        <label for="titulo libro">Titulo del libro:</label>
        <input type="text" id="titulo" th:field="*{titulo}" /><br/>
        
        <label for="publicado en:">Publicado en:</label>
        <input type="text" id="publicadoEn" th:field="*{publicadoEn}" /><br/>
        
        <label for="publicado en:">ISBN:</label>
        <input type="text" id="ISBN" th:field="*{ISBN}" /><br/>

        <button type="submit">Guardar Libro</button>
    </form>
</body>
</html>
