<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ingresar Nombre de los fabricantes</title>
</head>
<body>
    <h1>Ingresar nombre</h1>

    <form th:action="@{/fabricante/buscarPorNombre}" method="get">
        <div>
            <label for="nombre">Ingrese el nombre:</label>
            <input type="text" id="nombre" name="nombre" required>
        </div>
        <div>
            <button type="submit">Buscar Fabricantes</button>
        </div>
    </form>
</body>
</html>
